
#header h1 {
	font-family: 'Kameron', serif;
	font-size: 480%;
	margin: 20px 0px 4px 0px;
	padding: 0px 0px;
	color: black;
} 

#header h1 a {
    color: black;
}

#header h1 a:hover {
    text-decoration: none;
} 

#header h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	margin: 0px 0px;
	padding: 0px 0px;
}

#header {
	margin-bottom: 10px;
}

#main h2 {
    font-size: 200%;
    font-weight: bold;
    margin: 0px 0px;
    padding: 0px 0px;
}

#main .box {
    border: 1px solid #EEEEEE;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.pad_l {
    padding-left: 10px;
}

.pad_r {
    padding-right: 10px;
}

footer a {
	color: #333333;
}

footer a:hover {
	text-decoration: none;
	color: #000000;
}